*{padding:0;margin:0}
body{background-color:#43a9e4;color:#fff;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif}
#main{margin:10px auto;display:flex;justify-content:center;flex-direction:column;align-items:center}
.field{width:500px;display:flex;flex-direction:column;align-items:center;justify-content:center;background:#fff;color:#6c757d;font-size:16px;padding:15px;margin:5px auto;border-radius:6px}
.field.desc ul>li{text-align:left;font-size:14px}
@media (max-width:500px){#main{padding:0 5px}
.field{width:100%;padding:15px 0}
.field.desc ul{margin:0 15px}
.field.desc ul>li{text-align:left}
}
ul>li{margin-bottom:10px;list-style-type:none;text-align:center}
ul>li.text{font-size:12px;clear:both;width:100%}
.field .title{margin-bottom:15px;font-weight:700;color:#343a40}
a,a:active,a:focus,a:hover,a:visited{color:inherit;text-decoration:none}
.brand{display:flex;align-items:center;justify-content:flex-start;text-align:center;color:#000;font-size:40px;font-weight:200;padding:20px;cursor:pointer}
.brand span{color:#fff;font-weight:600}
.brand span.flag{color:#1881bb;background:#fff;border-radius:5px;font-size:15px;font-weight:700;display:inline-block;padding:0 5px;margin-left:5px}
.enter-maomi{width:75%;text-align:center;line-height:40px;border:2px solid #1881bb;border-radius:4px;margin-bottom:20px;margin-top:10px}
.enter-icon{width:32px;height:41px;float:left;margin-right:5px;background-color:#1881bb}
.enter-link a{display:block}
.icon{width:20px;height:20px;background-position:center;background-size:contain;background-repeat:no-repeat;display:inline-block}
.icon_hand{width:27px;height:27px;vertical-align:middle;background-image:url("https://cdn.jsdelivr.net/gh/fulidhw/cdn/landh/newadd/hand.png");padding-top:12px}
.c_black{color:#333;line-height:30px;font-size:12px}
.c_blue{color:#da634b}
.c_link{font-size:14px;line-height:30px}
.fri_link{overflow:hidden;width:80%}
.fri_link li{float:left;display:block;font-size:.875rem;width:33.33333333%}
.icon_ios_shared{background-image:url("https://cdn.jsdelivr.net/gh/fulidhw/cdn/landh/newadd/ios_share.png")}
.icon_android_share{background-image:url("https://cdn.jsdelivr.net/gh/fulidhw/cdn/landh/newadd/android_share.png")} 
