body {
    margin: 0;
}

a:link { text-decoration: none;}

.ct_body {
    /*position: relative;*/
    width: 100%;
    text-align: center;
}

.ct_content {
    margin-top: 5px;
    font-size:15px;
}
.ct_head {
/*    margin-bottom: 15px;*/
}
.ct_head img {

    /*height:110px;*/
    width:326px;
}
@media screen and (max-width: 450px) {
    .ct_head img {
        /*height:110px;*/
        width:326px;
    }
}

#fkbx {
    background-color: rgb(241, 243, 244);
    border-radius: 22px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    box-shadow: none;
    cursor: text;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 44px;
    line-height: 36px;
    max-width: 516px;
    opacity: 1;
    position: relative;
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease;
    width: 516px;
    border-width: 0px;
    outline: none;
    padding: 0 22px;
}

@media screen and (max-width: 450px) {
    #fkbx {
        max-width: 80%
    }
}

.panel {

    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 450px) {
    .panel {
        max-width: 100%;
        /*margin:25px 0 25px 0;*/
    }
}

.icon_box {
    display: inline-block;
    padding: 5px 0px;
    overflow: hidden;
	width:33.33%;
	text-align:center;
}

.icon_box img {
    width: 48px;
    height: 48px;
    border-radius: 50%;

}

.icon_title {
    direction: ltr;
    font-weight: 400;
    width: 96px;
   /* margin-left: auto;*/
    margin-right: auto;
    text-align: center;
    color: rgba(33, 32, 36, 0.86);
    font-size: 12px;
    overflow: hidden;
    white-space: pre;
    text-overflow: clip;
}

.icon_mv {
    background-color: #F2F2F2;
    border-radius: 10px;
}

#hf {
    display: none;
}

@media screen and (max-width: 450px) {
    #hf {
        display: inline-block;
        fill: currentColor;
        height: 32px;
        position: absolute;
        width: 32px;
        color: white;
        background-color: #3b78e7;
        border: 1px solid #3367d6;
        border-radius: 24px;
        z-index: 3;
        float: right;
        margin-left: -11%;
        margin-top: 5px;
        opacity: 0.8;
    }
}


