/* 
绿色导航DA634B
*/
/* css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
body { background:url(../img/npsl.png) center top no-repeat; background-color: #115F4D; overflow: hidden; color:#555; font-size:13px; font-family: "Microsoft YaHei",Simsun,Tahoma; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
a { color:#000; text-decoration:none; }
a:hover { text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none;}
input, textarea, select, button { font-size: 14px; }
table { border-collapse:collapse; }
html { overflow-y: scroll; }
#container{width:980px;margin:0 auto;margin-top:100px}
.cate{width:100%;background:#fff;margin-bottom:10px;border-radius:6px;overflow:hidden}
.cate_name{height:40px;width:100%;background:#2cbafc;overflow:hidden}
.cate .pink{background:#fd6ea3}
.cate .red{background:#c52622}
.cate .green2{background:#115F4D}
.cate .green{background:#23be9b}

.cate .yellow{background:#fcc800}
.cate .gray{background:#788daa}
.cate .orange{background:#f76e25}
.cate .black{background:#333}
.cate_name p{font-size:18px;font-weight:700;line-height:40px;color:#fff;margin-left:20px}
.cate li{float:left;text-align:center;display:block;width:121.5px;height:40px;line-height:40px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;font-size:13px;transition:color .5s,background-color .5s;overflow:hidden}
.cate li:hover{color:#fff;background:#23be9b}
.cate li:hover2{color:#fff;background:#ff6ea1}
.cate li b{width:16px;height:16px;font-weight:400;background:#2cbafc;color:#fff;padding:1px 3px;margin-left:4px;font-size:12px;border-radius:5px}
.cate_ul{margin:0 auto;position:relative;max-width:960px}
.cate_img{margin-left:8px;width:48px;height:48px}
.app{float:left;width:60px;height:80px;padding:10px 10px 0 10px;text-align:center;}
.app:hover{background-color:rgba(0,0,0,.15);cursor:pointer}
.clear{clear:both;height:0}
.side{position:fixed;bottom:5px;right:100px;width:70px}
.side_div{width:70px;height:32px;line-height:32px;text-align:center;color:#fff;background:#da634b;margin-top:1px;box-shadow:0 0 1px #e6e6e6}
.faq{position:fixed;bottom:5px;left:100px;width:70px}
.faq_scj{width:70px;height:70px;line-height:32px;text-align:center;color:#fff;background:#da634b;margin-top:1px}
.faq_div{width:70px;height:32px;line-height:32px;text-align:center;color:#fff;background:#da634b;margin-top:1px;box-shadow:0 0 1px #e6e6e6}
.xm{position:fixed;bottom:0;left:initial;right:0;z-index:1;font-size:0;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-transform:translateY(3px);-ms-transform:translateY(3px);transform:translateY(3px)}
.xm img{width:100px}

#scj{background:url(../img/scj.png)}
#top{background:url(../img/top.jpg)}
#dizhi{background:url(../img/dizhi.jpg)}
#guestbook{text-align:center;line-height:32px;transition:background-color .3s}
#guestbook:hover{background:#fd6ea3}
@media screen and (max-width:1200px){.side{display:none}
.faq{display:none}
.xm{display:none}
}
@media screen and (max-width:960px){body{background-size:100%}
#container{width:95%;margin-top:40%}
.cate li{width:20%;margin-right:-1px;height:35px;line-height:35px}
.cate_name{height:35px}
.cate_name p{font-size:21px;line-height:35px}
}
@media screen and (max-width:800px){.cate li{font-size:15px;height:30px;line-height:30px}
.cate_name{height:30px}
.cate_name p{font-size:20px;line-height:30px}
}
@media screen and (max-width:640px){.cate li{width:25%;font-size:11px;height:30px;line-height:30px}
.cate_name{height:30px}
.cate_name p{font-size:17px;line-height:30px}
.cate li b{width:16px;height:16px;font-weight:400;background:#2cbafc;color:#fff;padding:2px 3px;margin-left:4px;font-size:11px;border-radius:2px}
}
.banner img{width:100%;margin-bottom:5px;transition:opacity .5s}
.banner img:hover{opacity:.7}
.footerad img{width:100%;margin-bottom:-8px;transition:opacity .5s}
.footerad img:hover{opacity:.7}
#container .footer{border-radius:10px 10px 0 0;height:auto;margin-bottom:0;opacity:.7}
.footer p{text-align:center;line-height:40px;color:#333}
.footer p a{color:#333}
